div.nearest-salon-container div.right div.icon-container{
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 4px;
}
div.nearest-salon-container div.right div.icon-container img{
    width: 24px;
    height: 24px;
}
div.nearest-salon-container div.left div.button-container{
border-radius: 40px;
padding: 4px 12px;
}
div.nearest-salon-container div.left div.button-container span{
    border-radius: 50%;
    background-color: rgba(256, 256, 256, 0.4);
    
    width: 24px;
    height: 24px;
    
}