
/* add fonts */

@font-face {
  font-family: 'sansLight';
  src: url('/fonts/sans-light.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansThin';
  src: url('/fonts/sans-thin.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansRegular';
  src: url('/fonts/sans-regular.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansMedium';
  src: url('/fonts/sans-medium.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansSemiBold';
  src: url('/fonts/sans-demibold.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansBold';
  src: url('/fonts/sans-bold.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansExtraBold';
  src: url('/fonts/sans-extrabold.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansBlack';
  src: url('/fonts/sans-black.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansExtraBlack';
  src: url('/fonts/sans-extrablack.woff2') format('truetype');
  
}

/* numeral */
@font-face {
  font-family: 'sansLightNum';
  src: url('/fonts/sans-light-num.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansThinNum';
  src: url('/fonts/sans-thin-num.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansRegularNum';
  src: url('/fonts/sans-regular-num.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansMediumNum';
  src: url('/fonts/sans-medium-num.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansSemiBoldNum';
  src: url('/fonts/sans-demibold-num.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansBoldNum';
  src: url('/fonts/sans-bold-num.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansExtraBoldNum';
  src: url('/fonts/sans-extrabold-num.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansBlackNum';
  src: url('/fonts/sans-black-num.woff2') format('truetype');
  
}
@font-face {
  font-family: 'sansExtraBlackNum';
  src: url('/fonts/sans-extrablack-num.woff2') format('truetype');
  
}

/* add fonts */


/* reset css */
*,
::before,
::after {
  box-sizing: border-box;
}
html, body, *  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  direction: rtl;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset css */


/* costum class */

.fs_8 {
	font-size: clamp(8px, 2vw, 10px); /* فونت ریسپانسیو */
  }
  
  .fs_9 {
	font-size: clamp(9px, 2vw, 11px); 
  }
  
  .fs_10 {
	font-size: clamp(10px, 2vw, 12px); 
  }
  
  .fs_11 {
	font-size: clamp(11px, 2vw, 13px); 
  }
  
  .fs_12 {
	font-size: clamp(12px, 2vw, 14px); 
  }
  
  .fs_13 {
	font-size: clamp(13px, 2vw, 15px); 
  }
  
  .fs_14 {
	font-size: clamp(14px, 2vw, 16px); 
  }
  
  .fs_15 {
	font-size: clamp(15px, 2vw, 17px); 
  }
  
  .fs_16 {
	font-size: clamp(16px, 2vw, 18px); 
  }
  
  .fs_17 {
	font-size: clamp(17px, 2vw, 19px); 
  }
  
  .fs_18 {
	font-size: clamp(18px, 2vw, 20px); 
  }
  
  .fs_19 {
	font-size: clamp(19px, 2vw, 21px); 
  }
  
  .fs_20 {
	font-size: clamp(20px, 2vw, 22px); 
  }
  
  .fs_21 {
	font-size: clamp(21px, 2vw, 23px); 
  }
  
  .fs_22 {
	font-size: clamp(22px, 2vw, 24px); 
  }
  
  .fs_23 {
	font-size: clamp(23px, 2vw, 25px); 
  }
  
  .fs_24 {
	font-size: clamp(24px, 2vw, 26px); 
  }
  
  .fs_25 {
	font-size: clamp(25px, 2vw, 27px); 
  }
  
  .fs_26 {
	font-size: clamp(26px, 2vw, 28px); 
  }
  
  .fs_27 {
	font-size: clamp(27px, 2vw, 29px); 
  }
  
  .fs_28 {
	font-size: clamp(28px, 2vw, 30px); 
  }
  
  .fs_29 {
	font-size: clamp(29px, 2vw, 31px); 
  }
  
  .fs_30 {
	font-size: clamp(30px, 2vw, 32px); 
  }
  
  .fs_31 {
	font-size: clamp(31px, 2vw, 33px); 
  }
  
  .fs_32 {
	font-size: clamp(32px, 2vw, 34px); 
  }
  
  .fs_33 {
	font-size: clamp(33px, 2vw, 35px); 
  }
  
  .fs_34 {
	font-size: clamp(34px, 2vw, 36px); 
  }
  
  .fs_35 {
	font-size: clamp(35px, 2vw, 37px); 
  }
  
  .fs_36 {
	font-size: clamp(36px, 2vw, 38px); 
  }
  
  .fs_37 {
	font-size: clamp(37px, 2vw, 39px); 
  }
  
  .fs_38 {
	font-size: clamp(38px, 2vw, 40px); 
  }
  
  .fs_39 {
	font-size: clamp(39px, 2vw, 41px); 
  }
/* spacing */
.gap_1{
  gap: 1px;
}
.gap_2{
  gap: 2px;
}
.gap_4{
  gap: 4px;
}
.gap_6{
  gap: 6px;
}
.gap_8{
  gap: 8px;
}
.gap_12{
  gap: 12px;
}
.gap_16{
  gap: 16px;
}
.gap_24{
  gap: 24px;
}
.gap_32{
  gap: 32px;
}
.gap_40{
  gap: 40px;
}
.gap_48{
  gap: 48px;
}



  /* fontFamily */
.sansThin{
font-family: 'sansThin';
  }
  .sansLight{
    font-family: "sansLight";
  }
  
  .sansRegular{
font-family: 'sansRegular';
  }
  .sansMedium{
    font-family: "sansMedium";
  }
  .sansSemiBold{
    font-family: "sansSemiBold";
    
  }
  .sansBold{
    font-family: "sansBold";
    
  }
  .sansExtraBold{
    font-family: "sansExtraBold";
    
  }
  .sansBlack{
    font-family: "sansBlack";
    
  }
  .sansExtraBlack{
    font-family: "sansExtraBlack";
    
  }






  .sansThinNum{
font-family: 'sansThinNum';
  }
  .sansLightNum{
    font-family: "sansLightNum";
  }
  
  .sansRegularNum{
font-family: 'sansRegularNum';
  }
  .sansMediumNum{
    font-family: "sansMediumNum";
  }
  .sansSemiBoldNum{
    font-family: "sansSemiBoldNum";
    
  }
  .sansBoldNum{
    font-family: "sansBoldNum";
    
  }
  .sansExtraBoldNum{
    font-family: "sansExtraBoldNum";
    
  }
  .sansBlackNum{
    font-family: "sansBlackNum";
    
  }
  .sansExtraBlackNum{
    font-family: "sansExtraBlackNum";
    
  }


  /* color */
 /* :root {
  --background-color: #f7f5f2;
  --surface-color: #ffffff;
  --text-color: #3a3232;
  --primary-color: #c12e5c;
  --accent-color-1: #fca311;
  --accent-color-2: #4e8489;
  --border-color: rgba(58, 50, 50, 0.15);
}
[data-theme="dark"] {
  --background-color: #3a3232;
  --surface-color: #4a4242; 
  --text-color: #f7f5f2;
  --primary-color: #c12e5c;
  --accent-color-1: #fca311;
  --accent-color-2: #4e8489;
  --border-color: rgba(247, 245, 242, 0.2);
}
.text_white{
  color: white;
}
.text_primary {
  color: var(--primary-color);
}
.text_accent_1 {
  color: var(--accent-color-1);
}
.text_accent_2 {
  color: var(--accent-color-2);
}
.text_default {
  color: var(--text-color);
}
.text_surface {
  color: var(--surface-color);
}
.text_background {
  color: var(--background-color);
}


.bg_white{
  background-color: white;
}
.bg_primary {
  background-color: var(--primary-color);
}
.bg_accent_1 {
  background-color: var(--accent-color-1);
}
.bg_accent_2 {
  background-color: var(--accent-color-2);
}
.bg_default {
  background-color: var(--background-color);
}
.bg_surface {
  background-color: var(--surface-color);
}
.bg_text {
  background-color: var(--text-color);
}

.border-primary {
  border-color: var(--primary-color);
}
.border-accent-1 {
  border-color: var(--accent-color-1);
}
.border-accent-2 {
  border-color: var(--accent-color-2);
}
.border-default {
  border-color: var(--border-color);
}
.border-surface {
  border-color: var(--surface-color);
}
.border-text {
  border-color: var(--text-color);
}
.border-background {
  border-color: var(--background-color);
} */
:root {
  --mode-semiWhite: #faf6f5;
  --mode-white: #ffffff;
  --mode-black: #2e2626;
  --mode-semiBlack: #3a3232;
  --mode-pink-lightest: #f4ccdc;
  --pink-darkest: #c12e5c; 
  --pink-dark: #cd3e70;
  --pink-light: #d95388;
  --darkBrown: #2e2626;
  --brown: #3a3232;
  --white: #ffffff;
  --semiWhite: #faf6f5;
  --orange: #ff7a5a;
  --yellow: #fca311;
  --green: #4e8489;
  --success-text: #059669;
  --warning-text: #f97316;
  --failure-text: #ef4444;
}


[data-theme="dark"] {
 --mode-semiWhite: #3a3232;
    --mode-white: #2e2626;
    --mode-black: #ffffff;
    --mode-semiBlack: #faf6f5;
    --mode-pink-lightest: #613444;
}
.color_mode_semiWhite {
  color: var(--mode-semiWhite);
}
.color_mode_white{
  color: var(--mode-white);
}
.color_mode_black{
  color: var(--mode-black);
}
.color_mode_semiBlack{
  color: var(--mode-semiBlack);
}
.color_mode_pink_lightest{
  color: var(--mode-pink-lightest);
}
.color_pink_darkest{
  color: var(--pink-darkest);
}
.color_pink_dark{
  color: var(--pink-dark);
}
.color_pink_light{
  color: var(--pink-light);
}
.color_darkBrown{
  color: var(--darkBrown);
}
.color_brown{
  color: var(--brown);
}
.color_white{
  color: var(--white);
}
.color_semiWhite{
  color: var(--semiWhite);
}
.color_orange{
  color: var(--orange);
}
.color_yellow{
  color: var(--yellow);
}
.color_green{
  color: var(--green);
}
.color_success_text{
  color: var(--success-text);
}
.color_warning_text{
  color: var(--warning-text);
}
.color_failure_text{
  color: var(--failure-text);
}





.bg_mode_semiWhite {
  background-color: var(--mode-semiWhite);
}
.bg_mode_white{
  background-color: var(--mode-white);
}
.bg_mode_black{
  background-color: var(--mode-black);
}
.bg_mode_semiBlack{
  background-color: var(--mode-semiBlack);
}
.bg_mode_pink_lightest{
  background-color: var(--mode-pink-lightest);
}
.bg_pink_darkest{
  background-color: var(--pink-darkest);
}
.bg_pink_dark{
  background-color: var(--pink-dark);
}
.bg_pink_light{
  background-color: var(--pink-light);
}
.bg_darkBrown{
  background-color: var(--darkBrown);
}
.bg_brown{
  background-color: var(--brown);
}
.bg_white{
  background-color: var(--white);
}
.bg_semiWhite{
  background-color: var(--semiWhite);
}
.bg_orange{
  background-color: var(--orange);
}
.bg_yellow{
  background-color: var(--yellow);
}
.bg_green{
  background-color: var(--green);
}
.bg_success_text{
  background-color: var(--success-text);
}
.bg_warning_text{
  background-color: var(--warning-text);
}
.bg_failure_text{
  background-color: var(--failure-text);
}

 /* color */


 
  .cursor_pointer{
    cursor: pointer;
  }
  .text_justify{
    text-align: justify;
  }
  
.lh_0{
  line-height: 0;
}
input,
textarea,
select {
  font-size: 16px!important;
}
  /* costum class */


/* toastify config toastify config toastify config */
/* .Toastify__toast{
  font-family: "anjomanRegular"!important;
  font-size: clamp(14px, 2vw, 16px)!important; 
  padding-right: 30px;

} */