
/* add fonts */
@font-face {
  font-family: 'anjomanUltraBold';
  src: url('/fonts/anjoman-ultrabold.woff2') format('truetype');
  
}
@font-face {
  font-family: 'anjomanBold';
  src: url('/fonts/anjoman-bold.woff2') format('truetype');
  
}
@font-face {
  font-family: 'anjomanSemiBold';
  src: url('/fonts/anjoman-semibold.woff2') format('truetype');
  
}
@font-face {
  font-family: 'anjomanMedium';
  src: url('/fonts/anjoman-medium.woff2') format('truetype');
  
}
@font-face {
  font-family: 'anjomanRegular';
  src: url('/fonts/anjoman-regular.woff2') format('truetype');
  
}
@font-face {
  font-family: 'anjomanLight';
  src: url('/fonts/anjoman-light.woff2') format('truetype');
  
}
@font-face {
  font-family: 'anjomanNumBold';
  src: url('/fonts/anjoman-num-bold.woff2') format('woff2');
  
}
@font-face {
  font-family: 'anjomanNumMedium';
  src: url('/fonts/anjoman-num-medium.woff2') format('woff2');
  
}
@font-face {
  font-family: 'anjomanNumRegular';
  src: url('/fonts/anjoman-num-regular.woff2') format('woff2');
  
}
@font-face {
  font-family: 'anjomanNumLight';
  src: url('/fonts/anjoman-num-light.woff2') format('woff2');
  
}


/* add fonts */


/* reset css */
*,
::before,
::after {
  box-sizing: border-box;
}
html, body, *  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  direction: rtl;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset css */


/* costum class */

.fs_8 {
	font-size: clamp(8px, 2vw, 10px); /* فونت ریسپانسیو */
  }
  
  .fs_9 {
	font-size: clamp(9px, 2vw, 11px); 
  }
  
  .fs_10 {
	font-size: clamp(10px, 2vw, 12px); 
  }
  
  .fs_11 {
	font-size: clamp(11px, 2vw, 13px); 
  }
  
  .fs_12 {
	font-size: clamp(12px, 2vw, 14px); 
  }
  
  .fs_13 {
	font-size: clamp(13px, 2vw, 15px); 
  }
  
  .fs_14 {
	font-size: clamp(14px, 2vw, 16px); 
  }
  
  .fs_15 {
	font-size: clamp(15px, 2vw, 17px); 
  }
  
  .fs_16 {
	font-size: clamp(16px, 2vw, 18px); 
  }
  
  .fs_17 {
	font-size: clamp(17px, 2vw, 19px); 
  }
  
  .fs_18 {
	font-size: clamp(18px, 2vw, 20px); 
  }
  
  .fs_19 {
	font-size: clamp(19px, 2vw, 21px); 
  }
  
  .fs_20 {
	font-size: clamp(20px, 2vw, 22px); 
  }
  
  .fs_21 {
	font-size: clamp(21px, 2vw, 23px); 
  }
  
  .fs_22 {
	font-size: clamp(22px, 2vw, 24px); 
  }
  
  .fs_23 {
	font-size: clamp(23px, 2vw, 25px); 
  }
  
  .fs_24 {
	font-size: clamp(24px, 2vw, 26px); 
  }
  
  .fs_25 {
	font-size: clamp(25px, 2vw, 27px); 
  }
  
  .fs_26 {
	font-size: clamp(26px, 2vw, 28px); 
  }
  
  .fs_27 {
	font-size: clamp(27px, 2vw, 29px); 
  }
  
  .fs_28 {
	font-size: clamp(28px, 2vw, 30px); 
  }
  
  .fs_29 {
	font-size: clamp(29px, 2vw, 31px); 
  }
  
  .fs_30 {
	font-size: clamp(30px, 2vw, 32px); 
  }
  
  .fs_31 {
	font-size: clamp(31px, 2vw, 33px); 
  }
  
  .fs_32 {
	font-size: clamp(32px, 2vw, 34px); 
  }
  
  .fs_33 {
	font-size: clamp(33px, 2vw, 35px); 
  }
  
  .fs_34 {
	font-size: clamp(34px, 2vw, 36px); 
  }
  
  .fs_35 {
	font-size: clamp(35px, 2vw, 37px); 
  }
  
  .fs_36 {
	font-size: clamp(36px, 2vw, 38px); 
  }
  
  .fs_37 {
	font-size: clamp(37px, 2vw, 39px); 
  }
  
  .fs_38 {
	font-size: clamp(38px, 2vw, 40px); 
  }
  
  .fs_39 {
	font-size: clamp(39px, 2vw, 41px); 
  }
.anjoman_ultrabold{
font-family:'anjomanUltraBold' ;

}
  .anjoman_bold{
    font-family: "anjomanBold";
  }
  .anjoman_semibold{
font-family: 'anjomanSemiBold';
  }
  .anjoman_medium{
font-family: 'anjomanMedium';
  }
  .anjoman_regular{
    font-family: "anjomanRegular";
  }
  .anjoman_light{
    font-family: "anjomanLight";
    
  }
.anjoman_num_bold{
  font-family: "anjomanNumBold";
}
.anjoman_num_medium{
  font-family: "anjomanNumMedium";
}
.anjoman_num_regular{
  font-family: "anjomanNumRegular";
}
.anjoman_num_light{
  font-family: "anjomanNumLight";
}

  .color_white{
    color: white;
  }
  .color_dark{
    color: #262626;
  }
  .color_black{
    color: #000000;
  }
  .color_orange{
    color: #FF5050;
  }
  .color_white{
    color: #ffffff;
  }
  .color_pink{
    color: #C12E5C;
  }
  .bg_color_pink{
    background-color:#C12E5C ;
  }
  .bg_color_white{
    background-color: white;
  }
  .bg_color_orange{
    background-color: #FF5050;
  }
  .bg_color_black{
    background-color: black
  }
  .bg_color_body{
    background-color: #ededed8c;
  }
  .bg_color_gray{
    background-color: #E2E2E2;
  }
  .bg_color_white{
    background-color: #ffffff;
  }
  .cursor_pointer{
    cursor: pointer;
  }
  .text_justify{
    text-align: justify;
  }
  

  /* costum class */


/* toastify config toastify config toastify config */
/* .Toastify__toast{
  font-family: "anjomanRegular"!important;
  font-size: clamp(14px, 2vw, 16px)!important; 
  padding-right: 30px;

} */