div.artist-container img{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: 4px solid white;
}
div.artist-container .artist-img-container{
    border-radius: 50%;
    border: 4px solid #C12E5C;
}